python/data
api_key/
python/model
python/test_use.py
server/credentials.json
python/credentials.json
python/token.pickle
python/__pycache__
python/temp_storage/*.txt
python/temp_storage/*.flac
python/temp_storage/*.mp3