<!doctype html>
<html>
	<head><title>Presentation Generator</title></head>
	<link rel="stylesheet" href="style.css"><body>

	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	</head>

	<div class="topbar">Presentation Generator</div>


		<div class="div1">


		


	<form id="upload" enctype="multipart/form-data" method="post" action="/"><p>Upload your presentation:
	<input type="file" name="file"/><label for="file">Choose a file</label>
	<input type="submit"/>
	</p></form>
	</div></body></link>
	<script src="script.js"></script>
</html>
